.page{
    background-color: rgb(181, 247, 225);
    height: 100%;
}
.table{
    border-radius: 5px;
    border-style: solid;
    border-color:rgb(71, 255, 197);
    border-width: 2px;
    min-width: 400px;
    border-collapse: collapse;
}
.songs{
    font-size: 15px;
}